<div class="row">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Admin Confirmed</th>
            <th>Last Update</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="user in user_items | filter:isNotCurrentUser">
            <td>
                <span class="label label-success" ng-if="hasAdminRole(user)">Admin</span>
                {{user.email}}
            </td>
            <td>
                <button ng-if="user.admin_confirmed"
                        ng-click="toggle_admin_confirmed(user.id)"
                        class="btn btn-success btn-xs">Confirmed</button>
                <button ng-if="!user.admin_confirmed"
                        ng-click="toggle_admin_confirmed(user.id)"
                        class="btn btn-warning btn-xs">Blocked</button>
            </td>
            <td>{{user.last_update}}</td>
            <td>
                <span class="label label-info" ng-repeat="role in user.roles | filter:isNotAdminRole">{{role}}</span>
            </td>
            <td ng-if="current_user.has_action('admin.manage_users')">
                <a href="#/user_manager/{{user.id}}"class="btn btn-primary btn-xs">
                    Edit
                </a>
                <button ng-if="user.active" class="btn btn-xs btn-danger" ng-click="delete_user(user.id)">
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>