<div class="row">
    <h3><a href="#/user_manager">User Manager</a></h3>
    <h2>{{user.email}}</h2>
    <li ng-repeat="role in role_items">
        <button ng-if="user.roles.indexOf(role.name) > -1"
                ng-click="toggle_role(role.name)"
                class="btn btn-success">{{role.name}}</button>
        <button ng-if="user.roles.indexOf(role.name) == -1"
                ng-click="toggle_role(role.name)"
                class="btn btn-warning">{{role.name}}</button>
        <ul>
            <li ng-repeat="action in role.actions">
                <button ng-if="user.actions.indexOf(action) > -1"
                        ng-click="toggle_role_action(action)"
                        class="btn btn-success">{{action}}</button>
                <button ng-if="user.actions.indexOf(action) == -1"
                        ng-click="toggle_role_action(action)"
                        class="btn btn-warning">{{action}}</button>
            </li>
        </ul>
    </li>
</div>